
.log-in-container {
    border: 5px #737373 ridged;
    border-radius: 10px;
    width: 50vw;
    height: 60vh;
    margin: 100px auto;
    background-color: #737373;
    box-shadow: rgba(50,50,93,0.25) 0px 50px 100px -20px, rgba(0,0,0,0.3) 0px 30px 60px -30px;
    color: black;
}

.sub-title {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    font-weight: 800;
}

.log-in {
    width: 60%;
    height: 60%;
    margin: 20px auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 60px 0;
    font-size: 2rem;
    font-weight: 800;
}
.log-in > :nth-child(2) {
    margin-bottom: 5px;
}

label {
    margin-bottom: 10px;
}

a {
    color: black;
}

.login-btn {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 10px 15px;
    float: right;
    margin-top: 60px;

}