* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.home {
  padding: 0 30px;
}

.title-container {
  display: flex;
  margin: 80px 0 50px 0;
  justify-content: center;
}
